@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

:root {
    --primary-color: #10B981;
}

body{
    font-family: 'Noto Sans SC', sans-serif;
}
hr{
    margin: 2rem 0;
}

/* Containers */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */

.link{
 text-decoration: none;
 padding: .5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: .5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: .5rem;
    border: 1px solid var(--primary-color);
}

